<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Janssen </title>
    <link href="../static/css/data.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.1.1/plotly.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Janssen<span>.</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" style="border-color: rgba(79,195,247,0.3);">
              <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
          </button>
    <div class="collapse navbar-collapse justify-content-end" id="navMenu">
      <div class='nav'>
        <a href="/home">Home </a>
      </div>
      <div class = 'nav'>
        <a href="/data1">Data 1 </a>
      </div>
      <div class='nav'>
        <a href="/data2">Data 2 </a>
      </div>
        <div class='nav'>
          <a href="/defintions">defintions</a>
        </div>
  </div>
</div>
</nav>
