<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Janssen </title>
    <link href="../static/css/home.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.1.1/plotly.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand">Janssen<span>.</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" style="border-color: rgba(79,195,247,0.3);">
              <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
          </button>
    <div class="collapse navbar-collapse justify-content-end" id="navMenu">
      <div class='nav'> <a href="/home">Home </a></div>
      <div class = 'nav'> <a href="/data1">Data 1 </a></div>
      <div class='nav'><a href="/data2">Data 2 </a></div>
      <div class='nav'><a href="/explore">Explore</a><div>
      <div class='nav'><a href="/defintions">defintions</a></div>
  </div>
</div>
</nav>

<!-- Custom Graph -->
 <select id="x-axis">
    <option value="disc_year">Discovery Year</option>
    <option value="pl_orbper">Orbital Period</option>
    <option value="pl_orbsmax">Orbital Distance</option>
    <option value="pl_rade">Planet Radius</option>
    <option value="pl_masse">Planet Mass</option>
    <option value="pl_bmasse">Planet Mass(Earth)</option>
    <option value="pl_dens">Planet Density</option>
    <option value="pl_eqt">Temperature(K)</option>
    <option value="pl_insol">Insolation Flux</option>
    <option value="pl_orbeccen">Orbital Eccentricity</option>
    <option value="pl_orbincl">Orbital Inclination</option>
    <option value="st_teff">Star Temperature</option>
    <option value="st_rad">Star Radius</option>
    <option value="st_mass">Star Mass</option>
    <option value="st_lum">Star Luminosity</option>
    <option value="st_age">Star Age</option>
    <option value="sy_dist">Distance From Earth</option>
 </select>

 <select id="y-axis">
    <option value="pl_masse">Planet Mass</option>
    <option value="disc_year">Discovery Year</option>
    <option value="pl_orbper">Orbital Period</option>
    <option value="pl_orbsmax">Orbital Distance</option>
    <option value="pl_rade">Planet Radius</option>
    <option value="pl_bmasse">Planet Mass (Earth)</option>
    <option value="pl_dens">Planet Density</option>
    <option value="pl_eqt">Temperature (K)</option>
    <option value="pl_insol">Insolation Flux</option>
    <option value="pl_orbeccen">Orbital Eccentricity</option>
    <option value="pl_orbincl">Orbital Inclination</option>
    <option value="st_teff">Star Temperature</option>
    <option value="st_rad">Star Radius</option>
    <option value="st_mass">Star Mass</option>
    <option value="st_lum">Star Luminosity</option>
    <option value="st_age">Star Age</option>
    <option value="sy_dist">Distance from Earth</option>
 </select>

 <select id="chart-type">
  <option value="scatter">Scatter Plot</option>
  <option value="line">Line</option>
 </select>

 <div id="explore-chart"></div>
 <script>
  const data = {{ data | safe}};

  const labels = {
    disc_year: "Discovery Year",
    pl_orbper: "Orbital Period",
    pl_orbsmax: "Orbital Distance",
    pl_rade: "Planet Radius",
    pl_masse: "Planet Mass",
    pl_bmasse: "Planet Mass (Earth)",
    pl_dens: "Planet Density",
    pl_eqt: "Temperature (K)",
    pl_insol: "Insolation Flux",
    pl_orbeccen: "Orbital Eccentricity",
    pl_orbincl: "Orbital Inclination",
    st_teff: "Star Temperature",
    st_rad: "Star Radius",
    st_mass: "Star Mass",
    st_lum: "Star Luminosity",
    st_age: "Star Age",
    sy_dist: "Distance From Earth"
  }

  function updateChart(){
    const x = document.getElementById("x-axis").value;
    const y = document.getElementById("y-axis").value;
    const type = document.getElementById("chart-type").value;

    Plotly.newPlot("explore-chart",[{
      x: data.map(d => d[x]),
      y: data.map(d => d[y]),
      mode: type === "scatter" ? "markers" : "lines",
      type: "scatter",
      hovertemplate: '<b>' + labels[x]+ ':%{x}</b><br>' + labels[y] + ':%{y}<extra></extra>'
    }],{
      xaxis: { 
        title: { text: labels[x], font: {color: "white", size: 14 } },
      color: "white",
      type: "log",
      showticklabels: true,
      gridcolor: "rgba(255,255,255,0.1)"
    },
      yaxis: { 
        title: { text: labels[y], font: {color: "white", size: 14 } },
        color: "white",
        type: "log",
        showticklabels: true,
        gridcolor: "rgba(255,255,255,0.1)"
      },
      paper_bgcolor: "rgba(0,0,0,0)",
      plot_bgcolor: "rgba(20,20,30,0.8)",
      font: { color: "white" }
      margin: { l:80, r:40, t:40,b:80}
    });
  }

  updateChart();
  document.getElementById("x-axis").addEventListener("change", updateChart);
  document.getElementById("y-axis").addEventListener("change", updateChart);
  document.getElementById("chart-type").addEventListener("change", updateChart);
 </script>
</body>
</html>

