<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Home </title>
    <link href="../static/css/home.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.1.1/plotly.min.js"></script>
</head>

<body>

  <ul class="navbar">
      <li class='nav'> <a href="/home">Home </a></li>
      <li class='nav'> <a href="/data1">Data 1 </a></li>
      <li class='nav'><a href="/data2">Data 2 </a></li>
      <li class='nav'><a href="/data3">Data 3 </a></li>
      <li class='nav'><a href="/explore">Explore</a></li>
      <li class='nav'><a href="/planets">Planets</a></li>
      <li class='nav'><a href="/definitions">Definitions</a></li>
      <li class='nav'><a href="/login">Login</a></li>
      <li class='nav'><a href="/register">Register</a></li>
  </ul>

<!--BANNER-->
<section class="banner">

   <div class="banner-overlay"></div>
    <div class="banner-text">
      <h1>Exploring Exoplanets</h1>
      <p class="subheading"><i>A data visualization project by 55 Cancri-Ae</i></p>
    </div>
</section>

  <!-- ABOUT SECTION -->
  <section class="about-section">
    <div>
      <h2>About This Project</h2>
      <p>
        For this project, we aimed to create an easy-to-use website that allows users to explore some of the simpler data available about exoplanets.
      </p>
    </div>
  </section>

  <div class="howtouse">
    <div>
      <h2> User Guide</h2>
      <p>Welcome to Exploring Exoplanets! This is a pretty simple site designed to be easily navigable. To understand a bit more about what measurements we're showing, go to the <a href='/definitions'> definitions</a> page. To explore all of our data, go to the <a href='/explore'> explore</a> page and select what data you want to display on the graph. To see some example visualizations, check out the <a href='/data1'> data 1</a>, <a href='/data2'> data 2</a>, and <a href='/data3'> data 3</a> pages.
      </p>
    </div>
  </div>
  <div class="howtouse">
    <div>
      <h2>A Brief History of Exoplanet Discovery</h2>
      <p> The first exoplanets were discovered in 1992 orbitting around a pulsar called PSR B1257+12. The first confirmed exoplanet to be orbitting a Sun-like star was 51 Pegasi b, which was detected three years later in 1995. Since then,
        interest in exoplanets has only grown. Scientists are interested in studying and cataloguing exoplanets for their potential to reveal new information about the origins of life, atmospheric conditions, chemistry, and the history of the universe.
        Much of the general public also has interest in exoplanets for the possibilities of extraterrestrial life! So far, no confirmed life has been discovered, but scientists have observed biological molecules like hydrocarbons and amino acids
        in the spectra of exoplanets and some asteroids, leading many to believe that life may be somewhere out there.
      </p>
    </div>
  </div>
  <div class="howtouse">
    <div>
      <h2>Exoplanet Basics</h2>
      <p> Exoplanets are classified into many different categories based on their properties. Some of the common ones are:
      </p>
      <ol>
        <li> <b> Hot Jupiters</b>: large, hot, gas giants that orbit close to their star </li>
        <li> <b> Super Earths</b>: larger Earth-like terrestrial planets </li>
        <li> <b> Mini-Neptunes</b>: smaller, cooler, more distant gas planets </li>
        <li> <b>Ice Giants </b>: large, cool, icy planets </li>
      </ol>
      <p> There are further divisions (look up Puffy Planets!) to classify exoplanets, but these are the main ones. These classifications are
        largely based on the planets' semimajor axes, masses, densities, and compositions. Exoplanets show incredible diversity -- try looking up our namesake planet!
      </p>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



</body>
</html>
