<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Janssen </title>
    <link href="../static/css/home.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/3.1.1/plotly.min.js"></script>
</head>

<body>
  <ul class="navbar">
      <li class='nav'> <a href="/home">Home </a></li>
      <li class='nav'> <a href="/data1">Data 1 </a></li>
      <li class='nav'><a href="/data2">Data 2 </a></li>
      <li class='nav'><a href="/explore">Explore</a></li>
      <li class='nav'><a href="/planets">Planets</a></li>
      <li class='nav'><a href="/definitions">Definitions</a></li>
  </ul>

  <div>
    <h1>Explore Exoplanet Data</h1>
    <p>Search for planets!</p>
  </div>

  <body>
  <div class="container">
  <div class="row">
  <div class="col-md-12">
  <h1 class=>Find Planets!</h1>
  <h2 class=>Enter the name of a planet to see its orbit!</h2>
  <form id="form" onsubmit="return false">
  <input class="form-control" id="user-input" placeholder="Enter planet…">
  <button id="button" type="button" class="btn btn-secondary">Find Planet!</button>
  </form>

  <table class="table" cellpadding="10">
  <thead>
  <tr>
  <th scope="col">#</th>
  <th scope="col">Planet Name</th>
  <th scope="col">Discovery Year</th>
  <th scope="col">Orbital Period (days)</th>
  <th scope="col">Semi-Major Axis (AU)</th>
  <th scope="col">Radius (Earth radii)</th>
  <th scope="col">Mass (Earth masses)</th>


  </tr>
  </thead>
  <tbody id="planet-tbody"></tbody>
  </table>
  </div>
  </div>
  </div>

</br>
</br>
</br>

  <div id="glowscript" class="glowscript">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link type="text/css" href="https://www.glowscript.org/css/redmond/2.1/jquery-ui.custom.css" rel="stylesheet" />
  <link type="text/css" href="https://www.glowscript.org/css/ide.css" rel="stylesheet" />
  <script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
  <script type="text/javascript" src="https://www.glowscript.org/package/glow.3.2.min.js"></script>
  <script type="text/javascript" src="https://www.glowscript.org/package/RSrun.3.2.min.js"></script>
  <script type="text/javascript"><!--//--><![CDATA[//><!--

  // START JAVASCRIPT
  ;(function() {;
  var ρσ_modules = {};
  ρσ_modules.pythonize = {};


  (function(){
      function strings() {
          var string_funcs, exclude, name;
          string_funcs = set("capitalize strip lstrip rstrip islower isupper isspace lower upper swapcase center count endswith startswith find rfind index rindex format join ljust rjust partition rpartition replace split rsplit splitlines zfill".split(" "));
          if (!arguments.length) {
              exclude = (function(){
                  var s = ρσ_set();
                  s.jsset.add("split");
                  s.jsset.add("replace");
                  return s;
              })();
          } else if (arguments[0]) {
              exclude = Array.prototype.slice.call(arguments);
          } else {
              exclude = null;
          }
          if (exclude) {
              string_funcs = string_funcs.difference(set(exclude));
          }
          var ρσ_Iter0 = string_funcs;
          ρσ_Iter0 = ((typeof ρσ_Iter0[Symbol.iterator] === "function") ? (ρσ_Iter0 instanceof Map ? ρσ_Iter0.keys() : ρσ_Iter0) : Object.keys(ρσ_Iter0));
          for (var ρσ_Index0 of ρσ_Iter0) {
              name = ρσ_Index0;
              (ρσ_expr_temp = String.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name] = (ρσ_expr_temp = ρσ_str.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name];
          }
      };
      if (!strings.__module__) Object.defineProperties(strings, {
          __module__ : {value: "pythonize"}
      });

      ρσ_modules.pythonize.strings = strings;
  })();
  async function __main__() {
  "use strict";
      var display = canvas;
      var scene = canvas();

      var version, print, arange, __name__, type, ρσ_ls, scene, G, sun, earth, t, dt;
      version = ρσ_list_decorate([ "3.2", "glowscript" ]);
      Array.prototype['+'] = function(r) {return this.concat(r)}
      Array.prototype['*'] = function(r) {return __array_times_number(this, r)}
      window.__GSlang = "vpython";
      print = GSprint;
      arange = range;
      __name__ = "__main__";
      type = pytype;
      var strings = ρσ_modules.pythonize.strings;

      strings();
      "4";
      scene = ρσ_interpolate_kwargs.call(this, canvas, [ρσ_desugar_kwargs({width: 600, height: 600})]);
      "6";
      G = 6.67e-11;
      "8";
      sun = ρσ_interpolate_kwargs.call(this, sphere, [ρσ_desugar_kwargs({pos: vector(0, 0, 0), radius: 3e9, color: color.orange, shininess: 0, emissive: true, make_trail: true})]);
      "9";
      earth = ρσ_interpolate_kwargs.call(this, sphere, [ρσ_desugar_kwargs({pos: vector(15e10, 0, 0), radius: 200e7, texture: textures.earth, make_trail: true, retain: 30})]);
      "14";
      sun.mass = 1.9891e30;
      "15";
      earth.mass = 5.97e24;
      "17";
      sun.velocity = vector(0, 0, 0);
      "18";
      earth.velocity = vector(0, 21e3, 0);
      "20";
      sun.acc = vector(0, 0, 0);
      "21";
      earth.acc = vector(0, 0, 0);
      "23";
      G = 6.6743["*"](pow(10, 1["-u"]()["*"](11)));
      "25";
      (await setvalues(.238, (await EuToKg(4914.9)), (await MStarToSMass(1.66)), (await AuToM(1.178))));
      "27";
      async function setvalues(Ecc, PMass, SMass, SemiMajor) {
          "28";
          sun.mass = SMass;
          "29";
          earth.mass = PMass;
          // Reset positions and velocities
          sun.pos = vector(0, 0, 0);
          sun.velocity = vector(0, 0, 0);
          sun.acc = vector(0, 0, 0);
          earth.pos = vector(SemiMajor, 0, 0);
          earth.acc = vector(0, 0, 0);
          if (earth.clear_trail) earth.clear_trail();
          if (sun.clear_trail) sun.clear_trail();
          "30";
          earth.velocity = vector(0, Math.sqrt(G * SMass * (1 - Ecc) / (SemiMajor * (1 + Ecc))), 0);
      };
      if (!setvalues.__argnames__) Object.defineProperties(setvalues, {
          __argnames__ : {value: ["Ecc", "PMass", "SMass", "SemiMajor"]},
          __module__ : {value: null}
      });
      window._planetSetValues = setvalues;

      "32";
      async function EuToKg(EarthMassUnits) {
          "33";
          return EarthMassUnits["*"](5.9722)["*"](pow(10, 24));
      };
      if (!EuToKg.__argnames__) Object.defineProperties(EuToKg, {
          __argnames__ : {value: ["EarthMassUnits"]},
          __module__ : {value: null}
      });

      "35";
      async function AuToM(Au) {
          "36";
          return Au["*"](pow(10, 11));
      };
      if (!AuToM.__argnames__) Object.defineProperties(AuToM, {
          __argnames__ : {value: ["Au"]},
          __module__ : {value: null}
      });

      "38";
      async function MStarToSMass(MStar) {
          "39";
          return MStar["*"](1.9891)["*"](pow(10, 30));
      };
      if (!MStarToSMass.__argnames__) Object.defineProperties(MStarToSMass, {
          __argnames__ : {value: ["MStar"]},
          __module__ : {value: null}
      });

      "41";
      async function gravity(star, satellite) {
          var ρσ_ls, r;
          "43";
          r = satellite.pos["-"](1["*"](star.pos));
          "44";
          return 1["-u"]()["*"](1)["*"](G)["*"](star.mass)["*"](satellite.mass)["/"](Math.pow(abs(mag(r)), 2))["*"](hat(r));
      };
      if (!gravity.__argnames__) Object.defineProperties(gravity, {
          __argnames__ : {value: ["star", "satellite"]},
          __module__ : {value: null}
      });
      "47";
      t = 0;
      "48";
      dt = 500;
      "51";
      while (true) {
          "52";
          (await rate(1e3));
          "56";
          earth.acc = (await gravity(sun, earth))["/"](earth.mass);
          "59";
          earth.velocity=earth.velocity["+"](earth.acc["*"](dt));
          "60";
          sun.velocity=sun.velocity["+"](sun.acc["*"](dt));
          "62";
          earth.pos=earth.pos["+"](earth.velocity["*"](dt));
          "63";
          sun.pos=sun.pos["+"](sun.velocity["*"](dt));
          "66";
          t = t["+"](dt);
      }
  };
  if (!__main__.__module__) Object.defineProperties(__main__, {
      __module__ : {value: null}
  });

  ;$(function(){ window.__context = { glowscript_container: $("#glowscript").removeAttr("id") }; __main__() })})()
  // END JAVASCRIPT

  //--><!]]></script>
  </div>





 <div id="explore-chart" style="width:100%;height:500px;"></div>
 <footer>
  <div class="content">
    <p> Data sourced from <a href="https://exoplanetarchive.ipac.caltech.edu/index.html" >NASA Exoplanet Archive</a>, website by team 55 Cancri-Ae</p>
  </div>
 </footer>
 <script>
  var data = {{ data | safe}};

  const labels = {
    disc_year: "Discovery Year",
    pl_orbper: "Orbital Period (days)",
    pl_orbsmax: "Orbital Distance (AU)",
    pl_rade: "Planet Radius (Earth radii)",
    pl_masse: "Planet Mass (Earth masses)",
    pl_bmasse: "Planet Mass (Earth masses)",
    pl_dens: "Planet Density (g/cm³)",
    pl_eqt: "Temperature (K)",
    pl_orbeccen: "Orbital Eccentricity",
    pl_orbincl: "Orbital Inclination (degrees)",
    st_teff: "Star Temperature (K)",
    st_rad: "Star Radius (Solar radii)",
    st_mass: "Star Mass (Solar masses)",
    st_lum: "Star Luminosity (Solar luminosities)",
    st_age: "Star Age (Gyr)",
    sy_dist: "Distance From Earth (pc)"
  };

  const linearColumns = ["disc_year", "pl_orbeccen", "pl_orbincl"];

  function updateChart(){
    var xEl = document.getElementById("x-axis");
    var yEl = document.getElementById("y-axis");
    var tEl = document.getElementById("chart-type");
    if (!xEl || !yEl || !tEl) return;
    const x = xEl.value;
    const y = yEl.value;
    const type = tEl.value;

    const filitered = data.filter(d => d[x] !== null && d[y] !== null && d[x] !== undefined && d[y] !== undefined && !isNaN(d[x]) && !isNaN(d[y]));

    if (filitered.length == 0){
      document.getElementById("explore-chart").innerHTML =
      "<p style='color:white;text-align:center;'>Not enough data.</p>";
      return;
    }

    const sorted = [...filitered].sort((a,b) => a[x] - b[x]);

    Plotly.newPlot("explore-chart",[{
      x: sorted.map(d => d[x]),
      y: sorted.map(d => d[y]),
      mode: type === "scatter" ? "markers" : "lines",
      type: "scatter",
      hovertemplate: '<b>' + labels[x]+ ':%{x}</b><br>' + labels[y] + ':%{y}<extra></extra>'
    }],{
      xaxis: {
        title: labels[x],
        color: "black",
        type: linearColumns.includes(x) ? "linear" : "log",
        showticklabels: true,
        gridcolor: "rgba(255,255,255,0.1)"
    },
      yaxis: {
        title: labels[y],
        color: "black",
        type: linearColumns.includes(y) ? "linear" : "log",
        showticklabels: true,
        gridcolor: "rgba(255,255,255,0.1)"
      },
      paper_bgcolor: "rgba(0,0,0,0)",
      plot_bgcolor: "rgba(20,20,30,0.8)",
      font: { color: "white" },
      margin: { l:80, r:40, t:40,b:80}
    });
  }

  if (document.getElementById("x-axis")) updateChart();
  if (document.getElementById("x-axis")) document.getElementById("x-axis").addEventListener("change", updateChart);
  if (document.getElementById("y-axis")) document.getElementById("y-axis").addEventListener("change", updateChart);
  if (document.getElementById("chart-type")) document.getElementById("chart-type").addEventListener("change", updateChart);

  // --- Planet search ---
  document.getElementById("button").addEventListener("click", searchPlanet);
  document.getElementById("user-input").addEventListener("keydown", function(e) {
    if (e.key === "Enter") searchPlanet();
  });

  var selectedRow = null;

  function searchPlanet() {
    var query = document.getElementById("user-input").value.trim().toLowerCase();
    var tbody = document.getElementById("planet-tbody");
    if (!tbody) { alert("Table not found — make sure you saved the latest Planets.html to app/templates/"); return; }
    tbody.innerHTML = "";
    selectedRow = null;

    if (query === "") {
      tbody.innerHTML = "<tr><td colspan='7'>Enter a planet name to search.</td></tr>";
      return;
    }

    var matches = data.filter(function(p) {
      return p.pl_name && p.pl_name.toLowerCase().indexOf(query) !== -1;
    });

    if (matches.length === 0) {
      tbody.innerHTML = "<tr><td colspan='7'>No planets found.</td></tr>";
      return;
    }

    matches.slice(0, 20).forEach(function(p, i) {
      var tr = document.createElement("tr");
      tr.style.cursor = "pointer";
      tr.title = "Click to simulate this planet's orbit";
      function fmt(v) {
        return (v !== null && v !== undefined && !isNaN(v) && v !== "") ? Number(v).toPrecision(4) : "—";
      }
      tr.innerHTML =
        "<td>" + (i + 1) + "</td>" +
        "<td><strong>" + (p.pl_name || "—") + "</strong></td>" +
        "<td>" + (p.disc_year || "—") + "</td>" +
        "<td>" + fmt(p.pl_orbper) + "</td>" +
        "<td>" + fmt(p.pl_orbsmax) + "</td>" +
        "<td>" + fmt(p.pl_rade) + "</td>" +
        "<td>" + fmt(p.pl_masse != null ? p.pl_masse : p.pl_bmasse) + "</td>";
      tr.addEventListener("click", function() {
        if (selectedRow) selectedRow.style.backgroundColor = "";
        selectedRow = tr;
        tr.style.backgroundColor = "rgba(100, 160, 255, 0.25)";
        applyToSimulation(p);
      });
      tbody.appendChild(tr);
    });
  }

  function applyToSimulation(p) {
    var ecc   = (p.pl_orbeccen != null && !isNaN(p.pl_orbeccen)) ? p.pl_orbeccen : 0;
    var pmass = ((p.pl_masse != null ? p.pl_masse : (p.pl_bmasse || 1))) * 5.9722e24;
    var smass = (p.st_mass || 1) * 1.9891e30;
    var sma   = (p.pl_orbsmax || 1) * 1e11;
    if (window._planetSetValues) {
      window._planetSetValues(ecc, pmass, smass, sma);
    }
  }
 </script>

</body>
</html>
